In [316]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

In [317]:
from sqlalchemy import Column, Integer, String, create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

engine = engine = create_engine('postgresql://live_crimehtx:%7C_IVE_C%7C3IME_hTX001@crimehtxdb.c0fjj9b9p4wl.us-east-1.rds.amazonaws.com/crimehtxdb')
Base = declarative_base(bind=engine)
Session = sessionmaker(bind=engine)
session = Session()

conn = session.bind

In [38]:
# with engine.connect() as con:

#     rs = con.execute('SELECT * FROM book')

#     for row in rs:
#         print row

In [41]:
# test x : -95.322341
# test y : 29.800429
df = pd.read_sql_query('Select * from crime09_15', engine)

In [40]:
df

,x,y,address,city,state,date,hour,offensetype,beats,blockrange,...,area_sq_mi,perimet_mi,shape_leng,perimeter,polyid,snbname,year,month,day,weekday
0,-95.322341,29.801320,4500 WIPPRECHT ST,HOUSTON,TX,1980-05-01,12.0,Aggravated Assault,7C20,4500-4599,...,7.085752,11.097944,58597.143714,52352.042,52.0,KASHMERE GARDENS,1980.0,5.0,1.0,3.0
1,-95.331480,29.803852,4800 SAYERS ST,HOUSTON,TX,2006-08-06,22.0,Auto Theft,7C20,4800-4899,...,7.085752,11.097944,58597.143714,52352.042,52.0,KASHMERE GARDENS,2006.0,8.0,6.0,6.0
2,-95.327130,29.800429,4400 LOS ANGELES ST,HOUSTON,TX,2009-07-28,9.0,Auto Theft,7C20,4400-4499,...,7.085752,11.097944,58597.143714,52352.042,52.0,KASHMERE GARDENS,2009.0,7.0,28.0,1.0
3,-95.303058,29.807684,6300 NORTH LP E,HOUSTON,TX,2009-07-31,17.0,Burglary,7C20,6300-6399,...,7.085752,11.097944,58597.143714,52352.042,52.0,KASHMERE GARDENS,2009.0,7.0,31.0,4.0
4,-95.326951,29.796888,4300 CRANE ST,HOUSTON,TX,2009-08-02,6.0,Theft,7C20,4300-4399,...,7.085752,11.097944,58597.143714,52352.042,52.0,KASHMERE GARDENS,2009.0,8.0,2.0,6.0
5,-95.306603,29.797050,6300 CRANE ST,HOUSTON,TX,2009-08-03,6.0,Aggravated Assault,7C20,6300-6399,...,7.085752,11.097944,58597.143714,52352.042,52.0,KASHMERE GARDENS,2009.0,8.0,3.0,0.0
6,-95.322282,29.797828,4100 WIPPRECHT ST,HOUSTON,TX,2009-08-03,22.0,Burglary,7C20,4100-4199,...,7.085752,11.097944,58597.143714,52352.042,52.0,KASHMERE GARDENS,2009.0,8.0,3.0,0.0
7,-95.316860,29.795118,3800 LOCKWOOD DR,HOUSTON,TX,2009-08-04,14.0,Robbery,7C20,3800-3899,...,7.085752,11.097944,58597.143714,52352.042,52.0,KASHMERE GARDENS,2009.0,8.0,4.0,1.0
8,-95.316910,29.797056,4000 LOCKWOOD DR,HOUSTON,TX,2009-08-04,10.0,Aggravated Assault,7C20,4000-4099,...,7.085752,11.097944,58597.143714,52352.042,52.0,KASHMERE GARDENS,2009.0,8.0,4.0,1.0
9,-95.317071,29.811072,5500 LOCKWOOD DR,HOUSTON,TX,2009-08-05,6.0,Theft,7C20,5500-5599,...,7.085752,11.097944,58597.143714,52352.042,52.0,KASHMERE GARDENS,2009.0,8.0,5.0,2.0

In [10]:
df = pd.read_sql_query('Select * from crime09_15', engine)

In [153]:
list_snb = df['snbname'].unique().tolist()

In [154]:
list_snb

['KASHMERE GARDENS',
 'MID WEST',
 'GREATER GREENSPOINT',
 'EAST LITTLE YORK / HOMESTEAD',
 'GREATER OST / SOUTH UNION',
 'SPRING BRANCH EAST',
 'MEYERLAND AREA',
 'WASHINGTON AVENUE COALITION / MEMORIAL PARK',
 'MEADOWBROOK / ALLENDALE',
 'GREATER HOBBY AREA',
 'GREATER INWOOD',
 'SPRING BRANCH WEST',
 'ALIEF',
 'EASTEX - JENSEN AREA',
 'GREATER HEIGHTS',
 'CARVERDALE',
 'IAH / AIRPORT AREA',
 'PARK PLACE',
 'SOUTH PARK',
 'MIDTOWN',
 'CENTRAL SOUTHWEST',
 'SUNNYSIDE',
 'SOUTH BELT / ELLINGTON',
 'GREATER UPTOWN',
 'BRAYS OAKS',
 'SOUTH ACRES / CRESTMONT PARK',
 'DENVER HARBOR / PORT HOUSTON',
 'SHARPSTOWN',
 'GREENWAY / UPPER KIRBY AREA',
 'SPRING BRANCH NORTH',
 'AFTON OAKS / RIVER OAKS AREA',
 'GREATER EASTWOOD',
 'NEARTOWN - MONTROSE',
 'SPRING BRANCH CENTRAL',
 'CENTRAL NORTHWEST',
 'GOLFCREST / BELLFORT / REVEILLE',
 'NORTHSIDE/NORTHLINE',
 'DOWNTOWN',
 'ELDRIDGE / WEST OAKS',
 'ASTRODOME AREA',
 'WESTBRANCH',
 'BRIAR FOREST',
 'BRAEBURN',
 'SECOND WARD',
 'EL DORADO / OATES PRAIRIE',
 'INDEPENDENCE HEIGHTS',
 'WESTCHASE',
 'MEMORIAL',
 'UNIVERSITY PLACE',
 'FONDREN GARDENS',
 'MACGREGOR',
 'ADDICKS PARK TEN',
 'SOUTH MAIN',
 'MINNETEX',
 'GULFGATE RIVERVIEW / PINE VALLEY',
 'PECAN PARK',
 'BRAESWOOD',
 'FORT BEND HOUSTON',
 'WESTBURY',
 'CLEAR LAKE',
 'LAZYBROOK / TIMBERGROVE',
 'WESTWOOD',
 'NORTHSHORE',
 'TRINITY / HOUSTON GARDENS',
 'GULFTON',
 'MAGNOLIA PARK',
 'EAST HOUSTON',
 'FAIRBANKS / NORTHWEST CROSSING',
 'GREATER FIFTH WARD',
 'EDGEBROOK AREA',
 'HUNTERWOOD',
 'WILLOWBROOK',
 'MUSEUM PARK',
 'ACRES HOME',
 'GREATER THIRD WARD',
 'NEAR NORTHSIDE',
 'HIDDEN VALLEY',
 'LANGWOOD',
 'FOURTH WARD',
 'SETTEGAST',
 'WILLOW MEADOWS / WILLOWBEND AREA',
 'CLINTON PARK TRI-COMMUNITY',
 'LAWNDALE / WAYSIDE',
 'MEDICAL CENTER AREA',
 'PLEASANTVILLE AREA',
 'HARRISBURG / MANCHESTER',
 'LAKE HOUSTON']

In [21]:
df.offensetype.value_counts()

Theft                 281722
Burglary              100994
Auto Theft             54161
Robbery                41964
Aggravated Assault     41523
Rape                    3193
Murder                  1030
1                          6
Name: offensetype, dtype: int64

In [155]:
list = df.snbname.value_counts()
list

ALIEF                                          28118
SHARPSTOWN                                     23941
GREATER GREENSPOINT                            22228
NORTHSIDE/NORTHLINE                            19726
MID WEST                                       19458
GREATER UPTOWN                                 19365
GOLFCREST / BELLFORT / REVEILLE                17373
SOUTH BELT / ELLINGTON                         13212
BRIAR FOREST                                   11752
BRAYS OAKS                                     11572
ELDRIDGE / WEST OAKS                           11426
GREENWAY / UPPER KIRBY AREA                    10519
DOWNTOWN                                       10497
NORTHSHORE                                     10341
WASHINGTON AVENUE COALITION / MEMORIAL PARK    10042
SPRING BRANCH WEST                              9797
WESTWOOD                                        9185
FAIRBANKS / NORTHWEST CROSSING                  8683
MEMORIAL                                        8557
CENTRAL NORTHWEST                               8413
EASTEX - JENSEN AREA                            8058
WESTCHASE                                       7958
MIDTOWN                                         7726
CENTRAL SOUTHWEST                               7586
SUNNYSIDE                                       7407
NEARTOWN - MONTROSE                             7134
GREATER INWOOD                                  7050
GREATER HOBBY AREA                              6896
SPRING BRANCH EAST                              6821
EAST HOUSTON                                    6801
                                               ...
BRAEBURN                                        3132
LAZYBROOK / TIMBERGROVE                         3122
EDGEBROOK AREA                                  3080
KASHMERE GARDENS                                2968
IAH / AIRPORT AREA                              2741
ADDICKS PARK TEN                                2722
WILLOW MEADOWS / WILLOWBEND AREA                2430
PARK PLACE                                      2201
MINNETEX                                        2125
PECAN PARK                                      1980
CARVERDALE                                      1972
SECOND WARD                                     1810
DENVER HARBOR / PORT HOUSTON                    1703
MEDICAL CENTER AREA                             1662
INDEPENDENCE HEIGHTS                            1571
GREATER EASTWOOD                                1391
MUSEUM PARK                                     1342
FOURTH WARD                                     1118
HIDDEN VALLEY                                    981
LAWNDALE / WAYSIDE                               968
LANGWOOD                                         577
WESTBRANCH                                       573
HARRISBURG / MANCHESTER                          564
SETTEGAST                                        554
PLEASANTVILLE AREA                               507
EL DORADO / OATES PRAIRIE                        478
FONDREN GARDENS                                  477
CLINTON PARK TRI-COMMUNITY                       372
HUNTERWOOD                                       294
LAKE HOUSTON                                     134
Name: snbname, Length: 87, dtype: int64

In [34]:
df_murder = df[df['offensetype'] == 'Murder']

In [35]:
df_murder

Empty DataFrame
Columns: [x, y, address, city, state, date, hour, offensetype, beats, blockrange, streetname, type, area_sq_mi, perimet_mi, shape_leng, perimeter, polyid, snbname, year, month, day, weekday]
Index: []

[0 rows x 22 columns]

In [43]:
len(list)

87

23941

In [60]:
l = pd.DataFrame({"Area":list})

In [61]:
l = l.reset_index()

In [65]:
l = l.rename(columns={"Index": "name", "Area": "area"})

In [69]:
l.to_csv('area.csv',index=None)

In [119]:
df1 = pd.read_sql_query("""select hour,offensetype, snbname from crime09_15 where snbname = 'DOWNTOWN' and offensetype in (Select offensetype from crime09_15 where snbname = 'DOWNTOWN' group by offensetype 
order by count(*) desc limit 3) order by hour asc""", engine)

In [120]:
df1

     hour         offensetype   snbname
0       0               Theft  DOWNTOWN
1       0               Theft  DOWNTOWN
2       0               Theft  DOWNTOWN
3       0               Theft  DOWNTOWN
4       0               Theft  DOWNTOWN
5       0               Theft  DOWNTOWN
6       0               Theft  DOWNTOWN
7       0               Theft  DOWNTOWN
8       0               Theft  DOWNTOWN
9       0               Theft  DOWNTOWN
10      0               Theft  DOWNTOWN
11      0  Aggravated Assault  DOWNTOWN
12      0               Theft  DOWNTOWN
13      0               Theft  DOWNTOWN
14      0               Theft  DOWNTOWN
15      0               Theft  DOWNTOWN
16      0               Theft  DOWNTOWN
17      0               Theft  DOWNTOWN
18      0               Theft  DOWNTOWN
19      0               Theft  DOWNTOWN
20      0               Theft  DOWNTOWN
21      0               Theft  DOWNTOWN
22      0               Theft  DOWNTOWN
23      0               Theft  DOWNTOWN
24      0               Theft  DOWNTOWN
25      0               Theft  DOWNTOWN
26      0               Theft  DOWNTOWN
27      0               Theft  DOWNTOWN
28      0               Theft  DOWNTOWN
29      0               Theft  DOWNTOWN
...   ...                 ...       ...
9395  9.0               Theft  DOWNTOWN
9396  9.0               Theft  DOWNTOWN
9397  9.0               Theft  DOWNTOWN
9398  9.0          Auto Theft  DOWNTOWN
9399  9.0               Theft  DOWNTOWN
9400  9.0               Theft  DOWNTOWN
9401  9.0               Theft  DOWNTOWN
9402  9.0               Theft  DOWNTOWN
9403  9.0  Aggravated Assault  DOWNTOWN
9404  9.0               Theft  DOWNTOWN
9405  9.0               Theft  DOWNTOWN
9406  9.0               Theft  DOWNTOWN
9407  9.0               Theft  DOWNTOWN
9408  9.0               Theft  DOWNTOWN
9409  9.0               Theft  DOWNTOWN
9410  9.0               Theft  DOWNTOWN
9411  9.0               Theft  DOWNTOWN
9412  9.0               Theft  DOWNTOWN
9413  9.0               Theft  DOWNTOWN
9414  9.0               Theft  DOWNTOWN
9415  9.0               Theft  DOWNTOWN
9416  9.0               Theft  DOWNTOWN
9417  9.0               Theft  DOWNTOWN
9418  9.0               Theft  DOWNTOWN
9419  9.0               Theft  DOWNTOWN
9420  9.0               Theft  DOWNTOWN
9421  9.0               Theft  DOWNTOWN
9422  9.0               Theft  DOWNTOWN
9423  9.0               Theft  DOWNTOWN
9424  9.0               Theft  DOWNTOWN

[9425 rows x 3 columns]

In [103]:
m = df1.groupby(['hour','offensetype']).count()

In [104]:
m#m.sort_values('hour')[]

                         snbname
hour offensetype
'00  Theft                     1
'07  Aggravated Assault        1
     Theft                     1
'08  Theft                     2
'12  Theft                     1
'14  Auto Theft                1
'15  Theft                     1
'17  Theft                     1
'18  Theft                     1
'19  Theft                     1
'20  Theft                     2
'21  Theft                     1
0    Aggravated Assault       21
     Auto Theft               16
     Theft                   307
0.0  Aggravated Assault       16
     Auto Theft               43
     Theft                   361
00   Theft                     4
01   Aggravated Assault        1
     Theft                     4
02   Auto Theft                1
     Theft                     3
03   Theft                     2
04   Theft                     1
05   Theft                     1
06   Auto Theft                2
     Theft                     1
07   Auto Theft                3
     Theft                     3
...                          ...
5    Aggravated Assault       11
     Auto Theft                4
     Theft                    54
5.0  Aggravated Assault        1
     Auto Theft                5
     Theft                    24
6    Aggravated Assault        5
     Auto Theft               16
     Theft                    98
6.0  Aggravated Assault        4
     Auto Theft               11
     Theft                    43
7    Aggravated Assault       14
     Auto Theft               16
     Theft                   149
7.0  Aggravated Assault        1
     Auto Theft               20
     Theft                    73
8    Aggravated Assault       10
     Auto Theft               41
     Theft                   248
8.0  Aggravated Assault        4
     Auto Theft               25
     Theft                   109
9    Aggravated Assault       12
     Auto Theft               30
     Theft                   237
9.0  Aggravated Assault        4
     Auto Theft               21
     Theft                   100

[172 rows x 1 columns]

In [97]:
df1['hour']

62

select 
case hour
when '00' THEN 0
when '0' THEN 0
when '0.0' THEN 0
when '''00' THEN 0 
when '1' THEN 1
when '01' THEN 1
when '1.0' THEN 1
when '''01' then 1 
when '2' THEN 2
when '02' THEN 2
when '2.0' THEN 2
when '''02' then 2 
when '3' THEN 3
when '03' THEN 3
when '3.0' THEN 3
when '''03' then 3 
when '4' THEN 4
when '04' THEN 4
when '4.0' THEN 4
when '''04' then 4 
when '5' THEN 5
when '05' THEN 5
when '5.0' THEN 5
when '''05' then 5 
when '6' THEN 6
when '06' THEN 6
when '6.0' THEN 6
when '''06' then 6 
when '7' THEN 7
when '07' THEN 7
when '7.0' THEN 7
when '''07' then 7 
when '8' THEN 8
when '08' THEN 8
when '8.0' THEN 8
when '''08' then 8 
when '9' THEN 9
when '09' THEN 9
when '9.0' THEN 9
when '''09' then 9
when '10' THEN 10
when '010' THEN 10
when '10.0' THEN 10
when '''10' then 10
when '11' THEN 11
when '011' THEN 11
when '11.0' THEN 11
when '''11' then 11
when '12' THEN 12
when '012' THEN 12
when '12.0' THEN 12
when '''12' then 12
when '13' THEN 13
when '013' THEN 13
when '13.0' THEN 13
when '''13' then 13
when '14' THEN 14
when '014' THEN 14
when '14.0' THEN 14
when '''14' then 14
when '15' THEN 15
when '015' THEN 15
when '15.0' THEN 15
when '''15' then 15
when '16' THEN 16
when '016' THEN 16
when '16.0' THEN 16
when '''16' then 16
when '17' THEN 17
when '017' THEN 17
when '17.0' THEN 17
when '''17' then 17
when '18' THEN 18
when '018' THEN 18
when '18.0' THEN 18
when '''18' then 18
when '19' THEN 19
when '019' THEN 19
when '19.0' THEN 19
when '''19' then 19
when '20' THEN 20
when '020' THEN 20
when '20.0' THEN 20
when '''20' then 20
when '21' THEN 21
when '021' THEN 21
when '21.0' THEN 21
when '''21' then 21
when '22' THEN 22
when '022' THEN 22
when '22.0' THEN 22
when '''22' then 22
when '23' THEN 23
when '023' THEN 23
when '23.0' THEN 23
when '''23' then 23
when '24' THEN 24
when '024' THEN 24
when '24.0' THEN 24
when '''24' then 24
else 999
end as hour, 
--CAST(hour AS INT) as hour,
offensetype,
snbname from crime09_15 where snbname = 'GREATER GREENSPOINT' and 
offensetype in (Select offensetype from crime09_15 where snbname = 'GREATER GREENSPOINT' group by offensetype order by count(*) desc )  order by hour desc

In [156]:
incident_df = pd.read_sql_query("""select 
case hour
when '00' THEN 0
when '0' THEN 0
when '0.0' THEN 0
when '''00' THEN 0 
when '1' THEN 1
when '01' THEN 1
when '1.0' THEN 1
when '''01' then 1 
when '2' THEN 2
when '02' THEN 2
when '2.0' THEN 2
when '''02' then 2 
when '3' THEN 3
when '03' THEN 3
when '3.0' THEN 3
when '''03' then 3 
when '4' THEN 4
when '04' THEN 4
when '4.0' THEN 4
when '''04' then 4 
when '5' THEN 5
when '05' THEN 5
when '5.0' THEN 5
when '''05' then 5 
when '6' THEN 6
when '06' THEN 6
when '6.0' THEN 6
when '''06' then 6 
when '7' THEN 7
when '07' THEN 7
when '7.0' THEN 7
when '''07' then 7 
when '8' THEN 8
when '08' THEN 8
when '8.0' THEN 8
when '''08' then 8 
when '9' THEN 9
when '09' THEN 9
when '9.0' THEN 9
when '''09' then 9
when '10' THEN 10
when '010' THEN 10
when '10.0' THEN 10
when '''10' then 10
when '11' THEN 11
when '011' THEN 11
when '11.0' THEN 11
when '''11' then 11
when '12' THEN 12
when '012' THEN 12
when '12.0' THEN 12
when '''12' then 12
when '13' THEN 13
when '013' THEN 13
when '13.0' THEN 13
when '''13' then 13
when '14' THEN 14
when '014' THEN 14
when '14.0' THEN 14
when '''14' then 14
when '15' THEN 15
when '015' THEN 15
when '15.0' THEN 15
when '''15' then 15
when '16' THEN 16
when '016' THEN 16
when '16.0' THEN 16
when '''16' then 16
when '17' THEN 17
when '017' THEN 17
when '17.0' THEN 17
when '''17' then 17
when '18' THEN 18
when '018' THEN 18
when '18.0' THEN 18
when '''18' then 18
when '19' THEN 19
when '019' THEN 19
when '19.0' THEN 19
when '''19' then 19
when '20' THEN 20
when '020' THEN 20
when '20.0' THEN 20
when '''20' then 20
when '21' THEN 21
when '021' THEN 21
when '21.0' THEN 21
when '''21' then 21
when '22' THEN 22
when '022' THEN 22
when '22.0' THEN 22
when '''22' then 22
when '23' THEN 23
when '023' THEN 23
when '23.0' THEN 23
when '''23' then 23
when '24' THEN 24
when '024' THEN 24
when '24.0' THEN 24
when '''24' then 24
else 999
end as hour, 
--CAST(hour AS INT) as hour,
offensetype,
snbname from crime09_15 where snbname = 'GREATER GREENSPOINT' and 
offensetype in (Select offensetype from crime09_15 where snbname = 'GREATER GREENSPOINT' group by offensetype order by count(*) desc )  order by hour desc
""", engine)

   hour offensetype              snbname
0    23    Burglary  GREATER GREENSPOINT
1    23        Rape  GREATER GREENSPOINT
2    23     Robbery  GREATER GREENSPOINT
3    23     Robbery  GREATER GREENSPOINT
4    23  Auto Theft  GREATER GREENSPOINT

In [174]:
def insert_hour(sbn):
    s = "\'"+sbn+"\'"
    print(s)
    query = f"""select 
    case hour
    when '00' THEN 0
    when '0' THEN 0
    when '0.0' THEN 0
    when '''00' THEN 0 
    when '1' THEN 1
    when '01' THEN 1
    when '1.0' THEN 1
    when '''01' then 1 
    when '2' THEN 2
    when '02' THEN 2
    when '2.0' THEN 2
    when '''02' then 2 
    when '3' THEN 3
    when '03' THEN 3
    when '3.0' THEN 3
    when '''03' then 3 
    when '4' THEN 4
    when '04' THEN 4
    when '4.0' THEN 4
    when '''04' then 4 
    when '5' THEN 5
    when '05' THEN 5
    when '5.0' THEN 5
    when '''05' then 5 
    when '6' THEN 6
    when '06' THEN 6
    when '6.0' THEN 6
    when '''06' then 6 
    when '7' THEN 7
    when '07' THEN 7
    when '7.0' THEN 7
    when '''07' then 7 
    when '8' THEN 8
    when '08' THEN 8
    when '8.0' THEN 8
    when '''08' then 8 
    when '9' THEN 9
    when '09' THEN 9
    when '9.0' THEN 9
    when '''09' then 9
    when '10' THEN 10
    when '010' THEN 10
    when '10.0' THEN 10
    when '''10' then 10
    when '11' THEN 11
    when '011' THEN 11
    when '11.0' THEN 11
    when '''11' then 11
    when '12' THEN 12
    when '012' THEN 12
    when '12.0' THEN 12
    when '''12' then 12
    when '13' THEN 13
    when '013' THEN 13
    when '13.0' THEN 13
    when '''13' then 13
    when '14' THEN 14
    when '014' THEN 14
    when '14.0' THEN 14
    when '''14' then 14
    when '15' THEN 15
    when '015' THEN 15
    when '15.0' THEN 15
    when '''15' then 15
    when '16' THEN 16
    when '016' THEN 16
    when '16.0' THEN 16
    when '''16' then 16
    when '17' THEN 17
    when '017' THEN 17
    when '17.0' THEN 17
    when '''17' then 17
    when '18' THEN 18
    when '018' THEN 18
    when '18.0' THEN 18
    when '''18' then 18
    when '19' THEN 19
    when '019' THEN 19
    when '19.0' THEN 19
    when '''19' then 19
    when '20' THEN 20
    when '020' THEN 20
    when '20.0' THEN 20
    when '''20' then 20
    when '21' THEN 21
    when '021' THEN 21
    when '21.0' THEN 21
    when '''21' then 21
    when '22' THEN 22
    when '022' THEN 22
    when '22.0' THEN 22
    when '''22' then 22
    when '23' THEN 23
    when '023' THEN 23
    when '23.0' THEN 23
    when '''23' then 23
    when '24' THEN 24
    when '024' THEN 24
    when '24.0' THEN 24
    when '''24' then 24
    else 999
    end as hour, 
    --CAST(hour AS INT) as hour,
    offensetype,
    snbname from crime09_15 where snbname = {s} and 
    offensetype in (Select offensetype from crime09_15 where snbname = {s} group by offensetype order by count(*) desc )  order by hour desc
    """
    
    incident_df = pd.read_sql_query(query, engine)
    print('length')
    print(len(incident_df))
    print("query successful")

    
    
    incident_df.to_sql('incident_hour_count', con=engine, if_exists='append',method = 'multi',chunksize=10000,index=False)

In [177]:
for s in list_snb:
    print(s)
    insert_hour(s)
    print(s)

KASHMERE GARDENS
'KASHMERE GARDENS'
length
2968
query successful
KASHMERE GARDENS
MID WEST
'MID WEST'
length
19458
query successful
MID WEST
GREATER GREENSPOINT
'GREATER GREENSPOINT'
length
22228
query successful
GREATER GREENSPOINT
EAST LITTLE YORK / HOMESTEAD
'EAST LITTLE YORK / HOMESTEAD'
length
5045
query successful
EAST LITTLE YORK / HOMESTEAD
GREATER OST / SOUTH UNION
'GREATER OST / SOUTH UNION'
length
6405
query successful
GREATER OST / SOUTH UNION
SPRING BRANCH EAST
'SPRING BRANCH EAST'
length
6821
query successful
SPRING BRANCH EAST
MEYERLAND AREA
'MEYERLAND AREA'
length
3602
query successful
MEYERLAND AREA
WASHINGTON AVENUE COALITION / MEMORIAL PARK
'WASHINGTON AVENUE COALITION / MEMORIAL PARK'
length
10042
query successful
WASHINGTON AVENUE COALITION / MEMORIAL PARK
MEADOWBROOK / ALLENDALE
'MEADOWBROOK / ALLENDALE'
length
3989
query successful
MEADOWBROOK / ALLENDALE
GREATER HOBBY AREA
'GREATER HOBBY AREA'
length
6896
query successful
GREATER HOBBY AREA
GREATER INWOOD
'GREATER INWOOD'
length
7050
query successful
GREATER INWOOD
SPRING BRANCH WEST
'SPRING BRANCH WEST'
length
9797
query successful
SPRING BRANCH WEST
ALIEF
'ALIEF'
length
28118
query successful
ALIEF
EASTEX - JENSEN AREA
'EASTEX - JENSEN AREA'
length
8058
query successful
EASTEX - JENSEN AREA
GREATER HEIGHTS
'GREATER HEIGHTS'
length
5695
query successful
GREATER HEIGHTS
CARVERDALE
'CARVERDALE'
length
1972
query successful
CARVERDALE
IAH / AIRPORT AREA
'IAH / AIRPORT AREA'
length
2741
query successful
IAH / AIRPORT AREA
PARK PLACE
'PARK PLACE'
length
2201
query successful
PARK PLACE
SOUTH PARK
'SOUTH PARK'
length
5988
query successful
SOUTH PARK
MIDTOWN
'MIDTOWN'
length
7726
query successful
MIDTOWN
CENTRAL SOUTHWEST
'CENTRAL SOUTHWEST'
length
7586
query successful
CENTRAL SOUTHWEST
SUNNYSIDE
'SUNNYSIDE'
length
7407
query successful
SUNNYSIDE
SOUTH BELT / ELLINGTON
'SOUTH BELT / ELLINGTON'
length
13212
query successful
SOUTH BELT / ELLINGTON
GREATER UPTOWN
'GREATER UPTOWN'
length
19365
query successful
GREATER UPTOWN
BRAYS OAKS
'BRAYS OAKS'
length
11572
query successful
BRAYS OAKS
SOUTH ACRES / CRESTMONT PARK
'SOUTH ACRES / CRESTMONT PARK'
length
4618
query successful
SOUTH ACRES / CRESTMONT PARK
DENVER HARBOR / PORT HOUSTON
'DENVER HARBOR / PORT HOUSTON'
length
1703
query successful
DENVER HARBOR / PORT HOUSTON
SHARPSTOWN
'SHARPSTOWN'
length
23941
query successful
SHARPSTOWN
GREENWAY / UPPER KIRBY AREA
'GREENWAY / UPPER KIRBY AREA'
length
10519
query successful
GREENWAY / UPPER KIRBY AREA
SPRING BRANCH NORTH
'SPRING BRANCH NORTH'
length
3577
query successful
SPRING BRANCH NORTH
AFTON OAKS / RIVER OAKS AREA
'AFTON OAKS / RIVER OAKS AREA'
length
3232
query successful
AFTON OAKS / RIVER OAKS AREA
GREATER EASTWOOD
'GREATER EASTWOOD'
length
1391
query successful
GREATER EASTWOOD
NEARTOWN - MONTROSE
'NEARTOWN - MONTROSE'
length
7134
query successful
NEARTOWN - MONTROSE
SPRING BRANCH CENTRAL
'SPRING BRANCH CENTRAL'
length
3599
query successful
SPRING BRANCH CENTRAL
CENTRAL NORTHWEST
'CENTRAL NORTHWEST'
length
8413
query successful
CENTRAL NORTHWEST
GOLFCREST / BELLFORT / REVEILLE
'GOLFCREST / BELLFORT / REVEILLE'
length
17373
query successful
GOLFCREST / BELLFORT / REVEILLE
NORTHSIDE/NORTHLINE
'NORTHSIDE/NORTHLINE'
length
19726
query successful
NORTHSIDE/NORTHLINE
DOWNTOWN
'DOWNTOWN'
length
10497
query successful
DOWNTOWN
ELDRIDGE / WEST OAKS
'ELDRIDGE / WEST OAKS'
length
11426
query successful
ELDRIDGE / WEST OAKS
ASTRODOME AREA
'ASTRODOME AREA'
length
4850
query successful
ASTRODOME AREA
WESTBRANCH
'WESTBRANCH'
length
573
query successful
WESTBRANCH
BRIAR FOREST
'BRIAR FOREST'
length
11752
query successful
BRIAR FOREST
BRAEBURN
'BRAEBURN'
length
3132
query successful
BRAEBURN
SECOND WARD
'SECOND WARD'
length
1810
query successful
SECOND WARD
EL DORADO / OATES PRAIRIE
'EL DORADO / OATES PRAIRIE'
length
478
query successful
EL DORADO / OATES PRAIRIE
INDEPENDENCE HEIGHTS
'INDEPENDENCE HEIGHTS'
length
1571
query successful
INDEPENDENCE HEIGHTS
WESTCHASE
'WESTCHASE'
length
7958
query successful
WESTCHASE
MEMORIAL
'MEMORIAL'
length
8557
query successful
MEMORIAL
UNIVERSITY PLACE
'UNIVERSITY PLACE'
length
4745
query successful
UNIVERSITY PLACE
FONDREN GARDENS
'FONDREN GARDENS'
length
477
query successful
FONDREN GARDENS
MACGREGOR
'MACGREGOR'
length
3893
query successful
MACGREGOR
ADDICKS PARK TEN
'ADDICKS PARK TEN'
length
2722
query successful
ADDICKS PARK TEN
SOUTH MAIN
'SOUTH MAIN'
length
3146
query successful
SOUTH MAIN
MINNETEX
'MINNETEX'
length
2125
query successful
MINNETEX
GULFGATE RIVERVIEW / PINE VALLEY
'GULFGATE RIVERVIEW / PINE VALLEY'
length
4718
query successful
GULFGATE RIVERVIEW / PINE VALLEY
PECAN PARK
'PECAN PARK'
length
1980
query successful
PECAN PARK
BRAESWOOD
'BRAESWOOD'
length
4482
query successful
BRAESWOOD
FORT BEND HOUSTON
'FORT BEND HOUSTON'
length
3179
query successful
FORT BEND HOUSTON
WESTBURY
'WESTBURY'
length
3725
query successful
WESTBURY
CLEAR LAKE
'CLEAR LAKE'
length
5363
query successful
CLEAR LAKE
LAZYBROOK / TIMBERGROVE
'LAZYBROOK / TIMBERGROVE'
length
3122
query successful
LAZYBROOK / TIMBERGROVE
WESTWOOD
'WESTWOOD'
length
9185
query successful
WESTWOOD
NORTHSHORE
'NORTHSHORE'
length
10341
query successful
NORTHSHORE
TRINITY / HOUSTON GARDENS
'TRINITY / HOUSTON GARDENS'
length
6672
query successful
TRINITY / HOUSTON GARDENS
GULFTON
'GULFTON'
length
6053
query successful
GULFTON
MAGNOLIA PARK
'MAGNOLIA PARK'
length
3490
query successful
MAGNOLIA PARK
EAST HOUSTON
'EAST HOUSTON'
length
6801
query successful
EAST HOUSTON
FAIRBANKS / NORTHWEST CROSSING
'FAIRBANKS / NORTHWEST CROSSING'
length
8683
query successful
FAIRBANKS / NORTHWEST CROSSING
GREATER FIFTH WARD
'GREATER FIFTH WARD'
length
4968
query successful
GREATER FIFTH WARD
EDGEBROOK AREA
'EDGEBROOK AREA'
length
3080
query successful
EDGEBROOK AREA
HUNTERWOOD
'HUNTERWOOD'
length
294
query successful
HUNTERWOOD
WILLOWBROOK
'WILLOWBROOK'
length
3413
query successful
WILLOWBROOK
MUSEUM PARK
'MUSEUM PARK'
length
1342
query successful
MUSEUM PARK
ACRES HOME
'ACRES HOME'
length
3602
query successful
ACRES HOME
GREATER THIRD WARD
'GREATER THIRD WARD'
length
4415
query successful
GREATER THIRD WARD
NEAR NORTHSIDE
'NEAR NORTHSIDE'
length
4938
query successful
NEAR NORTHSIDE
HIDDEN VALLEY
'HIDDEN VALLEY'
length
981
query successful
HIDDEN VALLEY
LANGWOOD
'LANGWOOD'
length
577
query successful
LANGWOOD
FOURTH WARD
'FOURTH WARD'
length
1118
query successful
FOURTH WARD
SETTEGAST
'SETTEGAST'
length
554
query successful
SETTEGAST
WILLOW MEADOWS / WILLOWBEND AREA
'WILLOW MEADOWS / WILLOWBEND AREA'
length
2430
query successful
WILLOW MEADOWS / WILLOWBEND AREA
CLINTON PARK TRI-COMMUNITY
'CLINTON PARK TRI-COMMUNITY'
length
372
query successful
CLINTON PARK TRI-COMMUNITY
LAWNDALE / WAYSIDE
'LAWNDALE / WAYSIDE'
length
968
query successful
LAWNDALE / WAYSIDE
MEDICAL CENTER AREA
'MEDICAL CENTER AREA'
length
1662
query successful
MEDICAL CENTER AREA
PLEASANTVILLE AREA
'PLEASANTVILLE AREA'
length
507
query successful
PLEASANTVILLE AREA
HARRISBURG / MANCHESTER
'HARRISBURG / MANCHESTER'
length
564
query successful
HARRISBURG / MANCHESTER
LAKE HOUSTON
'LAKE HOUSTON'
length
134
query successful
LAKE HOUSTON

In [184]:
insert_hour('KASHMERE GARDENS')

'KASHMERE GARDENS'
length
2968
query successful

In [560]:
list_snb

['KASHMERE GARDENS',
 'MID WEST',
 'GREATER GREENSPOINT',
 'EAST LITTLE YORK / HOMESTEAD',
 'GREATER OST / SOUTH UNION',
 'SPRING BRANCH EAST',
 'MEYERLAND AREA',
 'WASHINGTON AVENUE COALITION / MEMORIAL PARK',
 'MEADOWBROOK / ALLENDALE',
 'GREATER HOBBY AREA',
 'GREATER INWOOD',
 'SPRING BRANCH WEST',
 'ALIEF',
 'EASTEX - JENSEN AREA',
 'GREATER HEIGHTS',
 'CARVERDALE',
 'IAH / AIRPORT AREA',
 'PARK PLACE',
 'SOUTH PARK',
 'MIDTOWN',
 'CENTRAL SOUTHWEST',
 'SUNNYSIDE',
 'SOUTH BELT / ELLINGTON',
 'GREATER UPTOWN',
 'BRAYS OAKS',
 'SOUTH ACRES / CRESTMONT PARK',
 'DENVER HARBOR / PORT HOUSTON',
 'SHARPSTOWN',
 'GREENWAY / UPPER KIRBY AREA',
 'SPRING BRANCH NORTH',
 'AFTON OAKS / RIVER OAKS AREA',
 'GREATER EASTWOOD',
 'NEARTOWN - MONTROSE',
 'SPRING BRANCH CENTRAL',
 'CENTRAL NORTHWEST',
 'GOLFCREST / BELLFORT / REVEILLE',
 'NORTHSIDE/NORTHLINE',
 'DOWNTOWN',
 'ELDRIDGE / WEST OAKS',
 'ASTRODOME AREA',
 'WESTBRANCH',
 'BRIAR FOREST',
 'BRAEBURN',
 'SECOND WARD',
 'EL DORADO / OATES PRAIRIE',
 'INDEPENDENCE HEIGHTS',
 'WESTCHASE',
 'MEMORIAL',
 'UNIVERSITY PLACE',
 'FONDREN GARDENS',
 'MACGREGOR',
 'ADDICKS PARK TEN',
 'SOUTH MAIN',
 'MINNETEX',
 'GULFGATE RIVERVIEW / PINE VALLEY',
 'PECAN PARK',
 'BRAESWOOD',
 'FORT BEND HOUSTON',
 'WESTBURY',
 'CLEAR LAKE',
 'LAZYBROOK / TIMBERGROVE',
 'WESTWOOD',
 'NORTHSHORE',
 'TRINITY / HOUSTON GARDENS',
 'GULFTON',
 'MAGNOLIA PARK',
 'EAST HOUSTON',
 'FAIRBANKS / NORTHWEST CROSSING',
 'GREATER FIFTH WARD',
 'EDGEBROOK AREA',
 'HUNTERWOOD',
 'WILLOWBROOK',
 'MUSEUM PARK',
 'ACRES HOME',
 'GREATER THIRD WARD',
 'NEAR NORTHSIDE',
 'HIDDEN VALLEY',
 'LANGWOOD',
 'FOURTH WARD',
 'SETTEGAST',
 'WILLOW MEADOWS / WILLOWBEND AREA',
 'CLINTON PARK TRI-COMMUNITY',
 'LAWNDALE / WAYSIDE',
 'MEDICAL CENTER AREA',
 'PLEASANTVILLE AREA',
 'HARRISBURG / MANCHESTER',
 'LAKE HOUSTON']

In [182]:
test_df = pd.read_sql_query("SELECT * FROM incident_hour_count where snbname = 'MEYERLAND AREA'", engine)

In [183]:
len(test_df)

0

In [577]:
sbn = 'GULFTON'
s = "\'"+sbn+"\'"
query = f"""select 
    case hour
    when '00' THEN 0
    when '0' THEN 0
    when '0.0' THEN 0
    when '''00' THEN 0 
    when '1' THEN 1
    when '01' THEN 1
    when '1.0' THEN 1
    when '''01' then 1 
    when '2' THEN 2
    when '02' THEN 2
    when '2.0' THEN 2
    when '''02' then 2 
    when '3' THEN 3
    when '03' THEN 3
    when '3.0' THEN 3
    when '''03' then 3 
    when '4' THEN 4
    when '04' THEN 4
    when '4.0' THEN 4
    when '''04' then 4 
    when '5' THEN 5
    when '05' THEN 5
    when '5.0' THEN 5
    when '''05' then 5 
    when '6' THEN 6
    when '06' THEN 6
    when '6.0' THEN 6
    when '''06' then 6 
    when '7' THEN 7
    when '07' THEN 7
    when '7.0' THEN 7
    when '''07' then 7 
    when '8' THEN 8
    when '08' THEN 8
    when '8.0' THEN 8
    when '''08' then 8 
    when '9' THEN 9
    when '09' THEN 9
    when '9.0' THEN 9
    when '''09' then 9
    when '10' THEN 10
    when '010' THEN 10
    when '10.0' THEN 10
    when '''10' then 10
    when '11' THEN 11
    when '011' THEN 11
    when '11.0' THEN 11
    when '''11' then 11
    when '12' THEN 12
    when '012' THEN 12
    when '12.0' THEN 12
    when '''12' then 12
    when '13' THEN 13
    when '013' THEN 13
    when '13.0' THEN 13
    when '''13' then 13
    when '14' THEN 14
    when '014' THEN 14
    when '14.0' THEN 14
    when '''14' then 14
    when '15' THEN 15
    when '015' THEN 15
    when '15.0' THEN 15
    when '''15' then 15
    when '16' THEN 16
    when '016' THEN 16
    when '16.0' THEN 16
    when '''16' then 16
    when '17' THEN 17
    when '017' THEN 17
    when '17.0' THEN 17
    when '''17' then 17
    when '18' THEN 18
    when '018' THEN 18
    when '18.0' THEN 18
    when '''18' then 18
    when '19' THEN 19
    when '019' THEN 19
    when '19.0' THEN 19
    when '''19' then 19
    when '20' THEN 20
    when '020' THEN 20
    when '20.0' THEN 20
    when '''20' then 20
    when '21' THEN 21
    when '021' THEN 21
    when '21.0' THEN 21
    when '''21' then 21
    when '22' THEN 22
    when '022' THEN 22
    when '22.0' THEN 22
    when '''22' then 22
    when '23' THEN 23
    when '023' THEN 23
    when '23.0' THEN 23
    when '''23' then 23
    when '24' THEN 24
    when '024' THEN 24
    when '24.0' THEN 24
    when '''24' then 24
    else 999
    end as hour, 
    --CAST(hour AS INT) as hour,
    offensetype,
    snbname from crime09_15 where snbname = {s} and 
    offensetype in (Select offensetype from crime09_15 where snbname = {s} group by offensetype order by count(*) desc )  order by hour desc
    """

In [578]:
incident_df = pd.read_sql_query(query, engine)

In [579]:
print('length')
print(len(incident_df))
print("query successful")
incident_df.head()

length
6053
query successful

   hour         offensetype  snbname
0    23  Aggravated Assault  GULFTON
1    23             Robbery  GULFTON
2    23          Auto Theft  GULFTON
3    23          Auto Theft  GULFTON
4    23             Robbery  GULFTON

In [580]:
incident_df.to_sql('incident_hour_count', con=engine, if_exists='append',method = 'multi',chunksize=10000,index=False)

In [558]:
test_df = pd.read_sql_query("SELECT * FROM incident_hour_count where snbname = 'LAKE HOUSTON'", engine)
len(test_df)

134